apiVersion: v1
kind: Service
metadata:
  name: wazuh-workers
  namespace: wazuh
  labels:
    app: wazuh-manager
spec:
  type: NodePort
  selector:
    app: wazuh-manager
    node-type: worker
  ports:
    - name: agents-events
      port: 1514 # internal ClusterIP port
      targetPort: 1514 # container port
      nodePort: 31514 # external port accessible on <NodeIP>:31514
