---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reloader
  namespace: reloader
spec:
  install:
    disableWait: true
  upgrade:
    disableWait: true
  interval: 5m
  chart:
    spec:
      chart: reloader
      version: '1.0.48'
      sourceRef:
        kind: HelmRepository
        name: stakater
        namespace: flux-system
      interval: 1m
  values:
    reloadOnConfigMapChange: true
    reloadOnSecretChange: true
    autoReloadAll: true # This enables automatic reloading for all ConfigMaps and Secrets
