<ossec_config>
  <client>
    <server>
      <address>{{ wazuh_manager_ip }}</address>
      <port>{{ wazuh_manager_port }}</port>
      <protocol>tcp</protocol>
    </server>
    <config-profile>ubuntu,linux,debian</config-profile>
    <notify_time>10</notify_time>
    <time-reconnect>60</time-reconnect>
  </client>
  <logging>
    <log_level>debug</log_level>
  </logging>
</ossec_config>