<ossec_config>
  <client>
    <server>
      <address>{{ wazuh_manager_ip }}</address>
      <port>{{ wazuh_manager_port }}</port>
    </server>
    <name>{{ wazuh_agent_name }}</name>
  </client>
</ossec_config>